/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
   @import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');
   html,body {
    font-family: 'PT Sans', sans-serif;
}
html {
    color: #2b2e35;
    font-size: 1em;
    line-height: 1.4;
}



/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

 ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000;
    margin: 1em 0;
    padding: 0;
}
ul {
    list-style:none;
}
.primary__title {
    font-size: 2.125rem;
}
.order__button {
    display: block;
    background-color:#ff621f;
    border: none;
    border-bottom: 5px solid #ff332a; 
    -webkit-box-shadow: 1px 0px 0px #ffb5a4; 
    box-shadow: 1px 0px 0px #ffb5a4;
    outline: none;
    color: #fff;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

   .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#content {
    width: 99%;
    max-width: 1200px;
    margin: 0 auto;
}
/*================
==================HEADER*/
#site__header {
    width: 100%;
}
.company_logo__link {
    display: block;
    width: 99%;
    margin:0 auto;
    padding-top: 45px;
    text-align: center;
    
}
.company__slogan {
    margin:1rem auto 1.94rem;
    text-align: center;
    padding-left: 1.57rem;
    font-size:1.42em;
    color: #18374b;
}
.header__bottom {
    width: 90%;
    margin:0 auto 50px;
}
.header__bottom .primary__title {
    margin-top: 1.875rem; /*30px*/
    margin-bottom: 1.875rem; /*30px*/
    color: #ff621f;
    text-transform: uppercase;
    text-align: center;
    font-family: "Circle Bold", sans-serif;
}
.primary__description {
    font-size: 1.875rem;
    font-family: "Circle Bold", sans-serif;
    text-align: center;
    text-transform: uppercase;

}
.header__bottom .order__button {
    width: 80%;
    height: 60px;
    margin: 0 auto;
    font-size: 1.875rem;;
}
/*================
==================HERO_BLOCK*/

#heroBlock {
    width: 89%;
    margin:0 auto;
    background-color: #eaeaea;
}

/*==PREFERENCES==
================*/
.preferences {
    padding-left: 5.5%;
    padding-right: 5.5%;
    padding-bottom: 50px;
    padding-top: 30px;
}
/*COUNTDOWN TIMER STYLING=============++++++*/
.countdown__wrapper {

    margin-bottom: 4.5rem;
}
.countdown__caution {
    margin-top: 0;
    font-size: 1.3125rem;
    font-weight:600;
    text-transform:uppercase;
    text-align: center;
}
.countdown {
    width: 65%;
    margin: 0 auto;
}
#countdown__timer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.countdown__block {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 45px;
    -ms-flex: 0 0 45px;
    flex: 0 0 45px;
    height: 45px;
    text-align: center;
    display: inline-block;
    background-color: #2b2e35;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5em;
    font-family: 'Circle Bold', sans-serif;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
}
.countdown__last {
    font-size: 1rem;
    color:#2b2e35;
    text-transform: uppercase;
    line-height: 1.4em;
}
/*INFO VALUE STYLING=============++++++*/
.preferences .secondary__title {
    text-transform: uppercase;
}
.value_list__item {
    position: relative;
    margin: 2rem auto;
    font-size: 1.3125rem;
}
.value_list__item::after {
    position: absolute;
    display: block;
    content: "";
    top: 10%;
    left:-40px;
    width: 25px;
    height: 18px;
    background: url(../img/content/checklist_checked__red.png) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
}
/*==HERO_ABOUT==
================HEADER*/
.hero_about {
    background-color: #ff621f;
    color: #fff;
}
.hero_about__header {
    padding-top: 2.5rem;
    margin-top: 0;
    margin-bottom: 3.4375rem;
}
.hero_about__header .date__wrapper {
    float: left;
}
.hero_about__header .date__wrapper:first-child {
    width: 140px;
    height: 140px;
    margin-left: 2.25rem;
    margin-right: 2.25rem;
    text-align: center;
}
.vebinar__month, .vebinar__day {
    margin: 0;
    font-weight: 600;
}
.vebinar__month {
    background-color: #2b2e35;
    font-size:1.375rem;
}
.vebinar__day {   
    height: 100px;
    vertical-align: middle;
    line-height: 100px;
    background-color: #fff;
    color: #c2c2c2;
    font-size: 5.125rem;
}
.hero_about__header .date__wrapper:nth-child(2) {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: -webkit-calc(100% - 140px - 4.5rem);
    width: -webkit-calc(100% - 140px - 4.5rem);
    width: calc(100% - 140px - 4.5rem);
    padding-right: 1.325rem;
}
.details__date, .details__time {
    display: block;
    margin: 0;
}
.details__date {
    margin-top: -2%;
    margin-bottom: 0;
    padding-bottom: 0.8rem;
    vertical-align: top;
    line-height: 1.2;
    text-transform:uppercase;
    font-size: 2.1075rem;
    border-bottom: 2px dashed #fff;
}
.details__time {
    padding-top: 0.8rem;
    font-size: 1.6875rem;
}
/*==HERO_ABOUT==
================DESCRIPTION*/
.hero_portrait_wrapper {
    width:222px;
    height: 222px;
    margin: 0 auto;
    border-radius: 50%;
    border:8px solid #fff;
    background:  transparent url(../img/content/portrait.png) no-repeat center top;

}
.hero__roll {
    text-align: center;
    font-family: 'Georgia',sans-serif;
    font-size: 1.5625rem;
}
.hero__name {
    text-align: center;
    text-transform: uppercase;
}
.hero_list {
    margin-bottom: 0;
    padding-left: 45px;
    padding-right: 30px;
    list-style-type: disc;
    font-size: 1.3125rem;
    line-height: 1.2;
}
.hero_list__item {
    margin-top: 1.5625rem;
}
.hero_value__wrapper {
    padding-bottom: 2.8125rem;
}
/*================
==================EVENT_ABOUT*/
#event__about {
    padding-top: 3.5rem;
    margin-bottom: 1rem;
}
.event_about__wrapper {
    width: 89%;
    max-width: 1000px;
    margin: 0 auto;
}
.event__about {
  text-align: center;
  padding-left: 1.3125rem;
  padding-right: 1.3125rem;
}
.event_about__title {
    margin-top: 0;
    margin-bottom: 2.5rem;
    vertical-align: top;
    font-family: 'Georgia',sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
}
.event__for .highlight__text {
    width: 68.31%;
    margin: 0 auto;
    background-color: #ff621f;
    color: #fff;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 1.6;
    vertical-align: top;
}
.event__for p:nth-child(2) {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.875rem;
    line-height: 1.2;
}
.event_about__description .secondary_title {
    text-align: center;
    line-height: 1.2;
}
#event__about hr {
    border-top-style: dashed;
}
[class*=paragraph_] {
    margin-bottom: 2rem;
}
/*================ 
==================COLLAGE*/
#collage {
    position: relative;
    padding-bottom: 15px;
min-height: 400px;
}

#collage::after {
    position: absolute;
    display: block;
    content: "";
    z-index: -1;
    top: -18%;
    left: 0;
    width: 100%;
    height: 112%;
            background: url(../img/collage/collage_full.png) no-repeat center top;
    -webkit-background-size: cover;
    background-size:cover; 
}
#collage img {
    display: block;
    width: 89%;
    max-width: 1000px;
    margin: 0 auto;

}

/*================
==================FOOTER*/
.footer__wrapper {
    padding-top: 4.0625rem;
    width: 89%;
    margin: 0 auto;
}
  
.button__wrapper {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}
  .text__wrapper {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    position: absolute;
    top: -300%;
    left: 0%;

    }
.text__wrapper p {
    font-size: 1.5rem;
}
.text__wrapper p:nth-child(2) {
    font-weight: bold;
}
.call_to_action {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    font-size: 1.6875rem;
    line-height: 2.1;
}
.socials__list {
    margin-top:3rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

}
.socials_list__item {
    height: 48px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 48px;
    -ms-flex: 0 0 48px;
    flex: 0 0 48px;
    margin: 0 3px;

}
.socials_list__item img {
    border-radius: 5px;
}































/* ==========================================================================
   Helper classes
   ========================================================================== */
   /*Hidden on extra small and small devices*/
   @media only screen and (min-width: 768px) {
    .hidden__md_lg {
        display: none !important; 
    }
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

 .clearfix:before,
 .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 480px) {
    html {
        font-size: 0.9em;
    }
    .header__bottom {
        width: 75%;
    }
    .header__bottom .order__button {
        width: 370px;
        height: 70px;

    }
    .countdown__block {
        -webkit-flex-basis: 55px;
        -ms-flex-preferred-size: 55px;
        flex-basis: 55px;
        height: 55px;
        line-height: 55px;
        font-size: 2em;
    }
    #collage::after {
    -webkit-background-size: cover;
    background-size:900px; 
}
    
}
@media only screen and (min-width: 600px) {
    html {
        font-size: 1em;
    }
    .header__bottom .order__button {
        width: 435px;
        height: 70px;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .hero_list {
    padding-left: 95px;
    font-size: 1.125rem;

}
    .countdown__block {
        -webkit-flex-basis: 75px;
        -ms-flex-preferred-size: 75px;
        flex-basis: 75px;
        height: 75px;
        line-height: 75px;
        font-size: 3em;
    }
    #collage {
    min-height: 500px;

    }
    #collage::after {
    top: -17%;
    height: 116%;
    background: url(../img/collage/collage_full.png) no-repeat center top;
    -webkit-background-size: 1200px;
    background-size:1200px; 
}

}
@media only screen and (min-width:768px) {
    #site__header {
        width: 89%;
        margin:0 auto;
    }
    #site__header>hr {
        width: 94.5%;
        max-width: 945px;
        margin: 0 auto;
    }
    .header__bottom {
        width: 100%;
    }
    .header__bottom .primary__title {
        margin-top: 53px;
        margin-bottom: 43px;
    }
    #heroBlock {
    max-width: 1000px;
    padding-top:0;
}

.hero_portrait_wrapper {
    width: 211px;
    height: 211px;
}
    #event__about {
    background: url(../img/content/rectangle.png) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    }
    #collage {
    position: relative;
    min-height: 700px;

    }
     #collage::after {
    top: -12%;
    height: 111%;
    background: url(../img/collage/collage_full.png) no-repeat center top;
    -webkit-background-size: 1400px;
    background-size:1400px; 
    }
    #collage img {
        display: none;
    }
    .text__wrapper {
    position: absolute;
    }


}
@media only screen and (min-width:992px) {
    .about__child {
        float: right;
        width: 50%;
        max-width: 500px;
    }
    .about__child.preferences {
       padding:35px 0 0 ;
    }
    .about__child.preferences .secondary__title {
                padding-left: 40px;
                padding-right: 20px;
                letter-spacing: -0.0125em;
    }
    .value_list {
        padding-left: 75px;
        padding-right: 25px;
    }
    .hero__name {
        margin-bottom: 45px;
    }
    .hero_list {
        padding-left: 80px;
    }
    #collage {
        min-height: 800px;
    }

     #collage::after {
    top: -17%;
    height: 111%;
    background: url(../img/collage/collage_full.png) no-repeat center top;
    -webkit-background-size: 2000px;
    background-size:2000px; 
    }
    #collage img {
        display: none;
    }
    .text__wrapper {
        left:0;
    }
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(-o-min-device-pixel-ratio: 5/4),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;

        a,
        a:visited {
            text-decoration: underline;
        }

        a[href]:after {
            content: " (" attr(href) ")";
        }

        abbr[title]:after {
            content: " (" attr(title) ")";
        }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

     a[href^="#"]:after,
     a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

     thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
}
